<div style='border: 3px dashed red'>
  <p>WELCOME TO BATTLESHIPS!</p>
  <p>What's your name?</p>
  <form action='/player_registered' method="post">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
  <img src='https://upload.wikimedia.org/wikipedia/commons/7/7d/Peresvet1901.jpg'>
</div>
