
<body style='background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7d/Peresvet1901.jpg); background-size: cover'>
  <p>My name is <%= @player_1_name %>.</p>
  <form action='/board'>
    <input type='submit' value='Begin Game'>
  </form>
</body>
